# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
.idea
*.iml
bin
out
pkg

src/github.com/davecgh/
src/github.com/gorilla/
src/github.com/nu7hatch/
src/github.com/paijerry/
src/github.com/tobyhede/
src/golang.org/
src/gopkg.in/
.DS_Store
